<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10242705292-ikllgjose36uebcrdcp42sematstl9m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10242705292-ikllgjose36uebcrdcp42sematstl9m0</string>
	<key>API_KEY</key>
	<string>AIzaSyD35YtFeGpWwtmzjpoVBniFgOWskEvle7g</string>
	<key>GCM_SENDER_ID</key>
	<string>10242705292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squadtechs.markhor.therezaPedrosaAdmin</string>
	<key>PROJECT_ID</key>
	<string>thereza-pedrosa</string>
	<key>STORAGE_BUCKET</key>
	<string>thereza-pedrosa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10242705292:ios:bf15c549d04354b9f838a9</string>
	<key>DATABASE_URL</key>
	<string>https://thereza-pedrosa.firebaseio.com</string>
</dict>
</plist>